:root {
  --black-color: #000;
  --white-color: #fff;
  --light-gray-color: #969696;
  --dark-gray-color: #666;
  --lighty-gray: #cacaca;
  --gray-color: #999;
  --semple-gray-color: #ececec;
  --purple-color: #9D5CD0;
  --dark-purple-color: #7943A4;
  --light-purple-color: #D1A9F0;
  --heliotrope-color: #C283F3;
  --nobel-color: #B7B7B7;
  --gallery-color: #EAEAEA;
}
